body {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4; /* 背景を少しグレーに */
}

/* 等幅フォントの設定（数字の横揺れ防止） */
.mono-font {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* プログレスバーの外枠 */
.progress-container {
  width: 80%; /* 画面の80%の幅 */
  max-width: 600px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 15px; /* 角丸 */
  margin: 20px auto; /* 中央寄せ */
  overflow: hidden; /* はみ出した部分を隠す */
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2); /* 内側に影をつけて立体的に */
  border: 2px solid #ddd; /* 灰色枠線 */
}

/* 中身の伸びるバー */
#progressBar {
  height: 30px;
  width: 0%; /* 初期値は0 */
  background-color: #00bfff  ; /* 青色 */
  transition: width 1s ease-out; /* 最後だけゆっくり動く */
}